
<div>

  <h3 style="text-align: center;">Documents</h3>

  <br />



  <div class="oneline" style="margin-bottom: 20px;">

    <input type="text" id="InputDoc" onkeyup="searchDoc()"
      placeholder="Search  (Pattern code, Pattern name, SQL Script, Tag)" style="

          border-radius: 13px;

          padding-left: 10px;

          border-color: #d11141;

          min-width: 430px;

        " />

  </div>

  <!--table-->

  <table id="DocTable" class="table table-hover table-bordered">
    <!--table head-->
    <thead style="background-color: #d11141; color:#FFFAFA;">

      <tr style="width: 100%;">

        <th scope="col">Pattern code</th>

        <th scope="col">Type</th>

        <th scope="col">Path/URL</th>

        <th scope="col">File name</th>

        <th scope="col">Topic/Test case name</th>

        <th scope="col">Remark</th>

      </tr>

    </thead>
    <!--table body-->
    <tbody>

      {% for row in doc %}
      <!--enable check-->
      {% if row.7 == "Enable" %}
      <tr>
        {% elif row.7 == "Disable" %}
      <tr style="background-color: rgba(220, 220, 220, 0.4);">
        {% endif %}

        <td id='pcode'>{{row.1}}</td>

        <td>{{row.2}}</td>

        <td>{{row.4}}</td>

        <td>{{row.4}}</td>

        <td>{{row.5}}</td>

        <td>{{row.6}}</td>

      </tr>

      <!--end enable check-->

        {% endfor %}

    </tbody>

  </table>

  <!--end table-->
</div>