
<div>

  <h3 style="text-align: center;">For 3rd party</h3>

  <br />



  <div class="oneline" style="margin-bottom: 20px;">

    <input type="text" id="myInput" onkeyup="search3()"
      placeholder="Search  (Pattern code, Pattern name, SQL Script, Tag)" style="

          border-radius: 13px;

          padding-left: 10px;

          border-color: #d11141;

          min-width: 430px;

        " />

  </div>

  <!--table-->

  <table id="3Table" class="table table-hover table-bordered">
    <!--table head-->
    <thead style="background-color: #d11141; color:#FFFAFA;">

      <tr style="width: 100%;">

        <th scope="col">Pattern code</th>

        <th scope="col" style="width: 15%;">Pattern name</th>

        <th scope="col">Thai ID</th>

        <th scope="col">BAN</th>

        <th scope="col">Product ID</th>

        <th scope="col">Company</th>

        <th scope="col">Enquiry/Use</th>

        <th scope="col">Test Env.</th>

        <th scope="col">Current user</th>

        <th scope="col">Period</th>

        <th scope="col">Remark</th>

      </tr>

    </thead>
    <!--table body-->
    <tbody>

      {% for row in rd %}
      <!--enable check-->
      {% if row.12 == "Enable" %}
      <tr>
      {% elif row.12 == "Disable" %}
      <tr style="background-color: rgba(220, 220, 220, 0.4);">
      {% endif %}

        <td id='pcode'>{{row.1}}</td>

        <td>{{row.2}}</td>

        <td>{{row.3}}</td>

        <td>{{row.4}}</td>

        <td>{{row.5}}</td>

        <td>{{row.6}}</td>

        <td>{{row.7}}</td>

        <td>{{row.8}}</td>

        <td>{{row.9}}</td>

        <td>{{row.10}}</td>

        <td>{{row.11}}</td>

      </tr>

      <!--end enable check-->

        {% endfor %}

    </tbody>

  </table>

  <!--end table-->
</div>

<script>
  function search3() {
// Declare variables

var input, filter, table, tr, td, i, txtValue;

input = document.getElementById("myInput");

filter = input.value.toUpperCase();

table = document.getElementById("myTable");

tr = table.getElementsByTagName("tr");

// Loop through all table rows, and hide those who don't match the search query

for (i = 0; i < tr.length; i++) {
  td = tr[i].getElementsByTagName("td")[0];
  td1 = tr[i].getElementsByTagName("td")[1];
  td2 = tr[i].getElementsByTagName("td")[2];
  td3 = tr[i].getElementsByTagName("td")[3];
  td4 = tr[i].getElementsByTagName("td")[4];
  td5 = tr[i].getElementsByTagName("td")[5];
  td6 = tr[i].getElementsByTagName("td")[6];
  td7 = tr[i].getElementsByTagName("td")[7];
  td8 = tr[i].getElementsByTagName("td")[8];
  td9 = tr[i].getElementsByTagName("td")[9];
  td10 = tr[i].getElementsByTagName("td")[10];

  if (td || td1 || td2 || td3 || td4 || td5 || td6 || td7 || td8 || td9 || td10) {
    txtValue = td.textContent || td.innerText;
    txtValue1 = td1.textContent || td1.innerText;
    txtValue2 = td2.textContent || td2.innerText;
    txtValue3 = td3.textContent || td3.innerText;
    txtValue4 = td4.textContent || td4.innerText;
    txtValue5 = td5.textContent || td5.innerText;
    txtValue6 = td6.textContent || td6.innerText;
    txtValue7 = td7.textContent || td7.innerText;
    txtValue8 = td8.textContent || td8.innerText;
    txtValue9 = td9.textContent || td9.innerText;
    txtValue10 = td10.textContent || td10.innerText;

    if (
      txtValue.toUpperCase().indexOf(filter) > -1 ||
      txtValue1.toUpperCase().indexOf(filter) > -1 ||
      txtValue2.toUpperCase().indexOf(filter) > -1 ||
      txtValue3.toUpperCase().indexOf(filter) > -1 ||
      txtValue4.toUpperCase().indexOf(filter) > -1 ||
      txtValue5.toUpperCase().indexOf(filter) > -1 ||
      txtValue6.toUpperCase().indexOf(filter) > -1 ||
      txtValue7.toUpperCase().indexOf(filter) > -1 ||
      txtValue8.toUpperCase().indexOf(filter) > -1 ||
      txtValue9.toUpperCase().indexOf(filter) > -1 ||
      txtValue10.toUpperCase().indexOf(filter) > -1 
    ) {
      tr[i].style.display = "";
    } else {
      tr[i].style.display = "none";
    }
  }
}
}
</script>