<div>

  <h3 style="text-align: center;">For SIT support</h3>

  <br />



  <div class="oneline" style="margin-bottom: 20px;">

    <input type="text" id="InputSit" onkeyup="searchSit()"
      placeholder="Search  (All fields)" style="

          border-radius: 13px;

          padding-left: 10px;

          border-color: #d11141;

          min-width: 430px;

        " />

  </div>

  <!--table-->
  <input style=" border:none; cursor:default;" type="text" id = "copyField" >


  <table id="SitTable" class="table table-hover table-bordered">
    <!--table head-->
    <thead style="background-color: #d11141; color:#FFFAFA;">

      <tr style="width: 100%;">

        <th scope="col">Pattern code</th>

        <th scope="col">
          Thai ID 
          <div style="float:right;">
            <input type="checkbox" id='checkAllTH' name="checkAll" value="{{sit}}" onchange="checkAll(this,'checkBoxTH',checkListTHsit)" style="float:right;"/>
            <button class='copyButton' onclick="copyChecked(checkListTHsit)">
              <i class="fa fa-clone" aria-hidden="true"></i>
            </button>
          </div>
        </th>

        <th scope="col">
          BAN
          <div style="float:right;">
            <input type="checkbox" id='checkAllBAN' name="checkAll" value="{{sit}}" onchange="checkAll(this,'checkBoxBAN',checkListBANsit)" style="float:right;"/>
            <button class='copyButton' onclick="copyChecked(checkListBANsit)">
              <i class="fa fa-clone" aria-hidden="true"></i>
            </button>
          </div>
        </th>

        <th scope="col">
          Product ID
          <div style="float:right;">
            <input type="checkbox" id='checkAllID' name="checkAll" value="{{sit}}" onchange="checkAll(this,'checkBoxID',checkListIDsit)" style="float:right;"/>
            <button class='copyButton' onclick="copyChecked(checkListIDsit)">
              <i class="fa fa-clone" aria-hidden="true"></i>
            </button>
          </div>
        </th>

        <th scope="col">Company</th>

        <th scope="col">Test Env.</th>

        <th scope="col" style="width: 150px;">Current user</th>

        <th scope="col" style="width: 230px;">Period</th>

        <th scope="col">Remark</th>

      </tr>

    </thead>
    <!--table body-->
    <tbody>

      {% for row in sit %}
      {% set i = loop.index0 %}
      <tr>

        <td id='pcode'>{{row.1}}</td>

        <td>{{row.2}} <input type="checkbox" id='checkBoxTH{{i}}' name="checkbox" value="{{row.2}}" onchange="copyCheckbox(this,checkListTHsit)" style="float:right;"/> </td>

        <td>{{row.3}} <input type="checkbox" id='checkBoxBAN{{i}}' name="checkbox" value="{{row.3}}" onchange="copyCheckbox(this,checkListBANsit)" style="float:right;"/> </td>

        <td>{{row.4}} <input type="checkbox" id='checkBoxID{{i}}' name="checkbox" value="{{row.4}}" onchange="copyCheckbox(this,checkListIDsit)" style="float:right;"/> </td>

        <td>{{row.5}}</td>

        <td>{{row.6}}</td>

        <td>{{row.7}}</td>

        <td>
          <p>{{row.8}}</p>
        </td>

        <td>{{row.9}}</td>

      </tr>

      <!--end enable check-->

        {% endfor %}

    </tbody>

  </table>

  <!--end table-->
</div>


<script>

function searchSit() {
  // Declare variables

  var input, filter, table, tr, td, i, txtValue;

  input = document.getElementById("InputSit");

  filter = input.value.toUpperCase();

  table = document.getElementById("SitTable");

  tr = table.getElementsByTagName("tr");

  // Loop through all table rows, and hide those who don't match the search query

  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[0];
    td1 = tr[i].getElementsByTagName("td")[1];
    td2 = tr[i].getElementsByTagName("td")[2];
    td3 = tr[i].getElementsByTagName("td")[3];
    td4 = tr[i].getElementsByTagName("td")[4];
    td5 = tr[i].getElementsByTagName("td")[5];
    td6 = tr[i].getElementsByTagName("td")[6];
    td7 = tr[i].getElementsByTagName("td")[7];
    td8 = tr[i].getElementsByTagName("td")[8];

    if (td || td1 || td2 || td3 || td4 || td5 || td6 || td7 || td8 ) {
      txtValue = td.textContent || td.innerText;
      txtValue1 = td1.textContent || td1.innerText;
      txtValue2 = td2.textContent || td2.innerText;
      txtValue3 = td3.textContent || td3.innerText;
      txtValue4 = td4.textContent || td4.innerText;
      txtValue5 = td5.textContent || td5.innerText;
      txtValue6 = td6.textContent || td6.innerText;
      txtValue7 = td7.textContent || td7.innerText;
      txtValue8 = td8.textContent || td8.innerText;

      if (
        txtValue.toUpperCase().indexOf(filter) > -1 ||
        txtValue1.toUpperCase().indexOf(filter) > -1 ||
        txtValue2.toUpperCase().indexOf(filter) > -1 ||
        txtValue3.toUpperCase().indexOf(filter) > -1 ||
        txtValue4.toUpperCase().indexOf(filter) > -1 ||
        txtValue5.toUpperCase().indexOf(filter) > -1 ||
        txtValue6.toUpperCase().indexOf(filter) > -1 ||
        txtValue7.toUpperCase().indexOf(filter) > -1 ||
        txtValue8.toUpperCase().indexOf(filter) > -1
      ) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}

</script>
