<div>

  <h3 style="text-align: center;">For SIT support</h3>

  <br />



  <div class="oneline" style="margin-bottom: 20px;">

    <input type="text" id="InputSit" onkeyup="searchSit()"
      placeholder="Search  (Pattern code, Pattern name, SQL Script, Tag)" style="

          border-radius: 13px;

          padding-left: 10px;

          border-color: #d11141;

          min-width: 430px;

        " />

  </div>

  <!--table-->

  <table id="SitTable" class="table table-hover table-bordered">
    <!--table head-->
    <thead style="background-color: #d11141; color:#FFFAFA;">

      <tr style="width: 100%;">

        <th scope="col">Pattern code</th>

        <th scope="col">Thai ID</th>

        <th scope="col">BAN</th>

        <th scope="col">Product ID</th>

        <th scope="col">Company</th>

        <th scope="col">Test Env.</th>

        <th scope="col">Current user</th>

        <th scope="col">Period</th>

        <th scope="col">Remark</th>

      </tr>

    </thead>
    <!--table body-->
    <tbody>

      {% for row in sit %}
      <!--enable check-->
      {% if row.10 == "Enable" %}
      <tr>
        {% elif row.10 == "Disable" %}
      <tr style="background-color: rgba(220, 220, 220, 0.4);">
        {% endif %}

        <td id='pcode'>{{row.1}}</td>

        <td>{{row.2}}</td>

        <td>{{row.4}}</td>

        <td>{{row.4}}</td>

        <td>{{row.5}}</td>

        <td>{{row.6}}</td>

        <td>{{row.7}}</td>

        <td>{{row.8}}</td>


      </tr>

      <!--end enable check-->

        {% endfor %}

    </tbody>

  </table>

  <!--end table-->
</div>