<!DOCTYPE html>

<html lang="en">

<head>

    <!-- Required meta tags -->

    <meta charset="utf-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <!-- Bootstrap CSS -->

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />

    <link href='//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' rel='stylesheet' />

    <title>Data Inventory</title>

</head>



<body>

    <!-- <nav class="navbar navbar-dark" style="background-color: #8f1b21;">

      <a class="navbar-brand" href="#">

        True corporation

      </a>

    </nav> -->

    <div style="margin: 10px;">

        <h1>Data Inventory</h1>

        <br />

        <div class="row">

            <div class="col-2">

                <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">

                    <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">QA</a

            >

            <a

              class="nav-link"

              id="v-pills-profile-tab"

              data-toggle="pill"

              href="#v-pills-profile"

              role="tab"

              aria-controls="v-pills-profile"

              aria-selected="false"

              >3rd</a

            >

            <a

              class="nav-link"

              id="v-pills-messages-tab"

              data-toggle="pill"

              href="#v-pills-messages"

              role="tab"

              aria-controls="v-pills-messages"

              aria-selected="false"

              >SIT</a

            >

            <a

              class="nav-link"

              id="v-pills-settings-tab"

              data-toggle="pill"

              href="#v-pills-settings"

              role="tab"

              aria-controls="v-pills-settings"

              aria-selected="false"

              >Document</a

            >

          </div>

        </div>



        <!-- content -->

        <div class="col-10">

          <div class="tab-content" id="v-pills-tabContent">

            <div

              class="tab-pane fade show active"

              id="v-pills-home"

              role="tabpanel"

              aria-labelledby="v-pills-home-tab"

            >

              <div>

                <h3 style="text-align: center;">For QA Team</h3>

                <br />



                <div class="oneline" style="margin-bottom: 20px;">

                  <input

                    type="text"

                    id="myInput"

                    onkeyup="myFunction()"

                    placeholder="Search  (Pattern code, Pattern name, SQL Script)"

                    style="

                      border-radius: 13px;

                      padding-left: 10px;

                      border-color: #d11141;

                      min-width: 400px;

                    "

                  />

                </div>

                <div class="oneline" style="float: right; margin-right: 75px;">

                  <a

                    href="/add"

                    class="btn btn-warning btn-sm"

                    style="border-radius: 30px;"

                    ><i class="fa fa-plus fa-2x"></i></a

                  >

                </div>
<!--table-->
                <table id="myTable" class="table table-hover">
<!--table head-->
                  <thead style="background-color: #696969; color:#FFFAFA;">

                    <tr style="width: 100%;">

                      <th scope="col">Pattern code</th>

                      <th scope="col">Pattern name</th>

                      <th scope="col">SQL script</th>

                      <th scope="col">System</th>

                      <th scope="col">Confidential score</th>

                      <th scope="col">Relate</th>

                      <th scope="col">Sequence</th>
                      
                      <th scope="col">Frequency</th>

                      <th scope="col">Doc</th>

                      <th scope="col">Tag</th>

                      <th scope="col">Status</th>

                      <th scope="col">Edit</th>

                    </tr>

                  </thead>
<!--table body-->
                  <tbody>

                    {% for row in datas %}
  <!--enable check-->
                       {% if row.11 == "Enable" %}
                        <tr style="background-color: #EEE8AA;">
                       {% elif row.11 == "Disable" %}
                        <tr>
                       {% endif %}

                      <td id='pcode'>{{row.0}}</td>

                      <td>{{row.1}}</td>

                      <td>

<!--sql column-->

                        <button

                          type="button"

                          class="btn btn-outline-secondary btn-sm"

                          data-toggle="modal"

                          data-target="#modalSQL{{row.0}}"

                        >

                          {{row.2[0:18]}} <b>...</b>

                        </button>
  <!--modal sql column-->
                        <div

                          class="modal fade"

                          id="modalSQL{{row.0}}"

                          tabindex="-1"

                          role="dialog"

                          aria-labelledby="exampleModalCenterTitle"

                          aria-hidden="true"

                        >

                          <div

                            class="modal-dialog modal-dialog-centered modal-lg"

                            role="document"

                          >

                            <div class="modal-content">

                              <div class="modal-header">

                                <h5

                                  class="modal-title"

                                  id="exampleModalLongTitle"

                                >

                                  SQL script for {{row.1}} [{{row.0}}]

                                </h5>

                                <button

                                  type="button"

                                  class="close"

                                  data-dismiss="modal"

                                  aria-label="Close"

                                >

                                  <span aria-hidden="true">&times;</span>

                                </button>

                              </div>

                              <div id='mydiv' class="modal-body">

                                

                                <p oncopy="setTimeout(function(){location.href='/count/{{row.0}}';} , 1500);">

                                {{row.2}}

                                <h6 style="float: right;">Usage frequency: {{row.7}}</h6>

                              </p>

                              </div>

                            </div>

                          </div>

                        </div>

                      </td>

                      <td>{{row.3}}</td>

                      <td>{{row.4}}</td>

                      <td>{{row.5}}</td>

                      <td>{{row.6}}</td>

                      <td>{{row.7}}</td>

                      <td>

                            {%if row.8 != "" %}
                        <a href="{{row.8}}">Automate link</a><br/>

                            {% endif %}
                            {%if row.9 != "" %}
                        <a href="{{row.9}}">Manual link</a>

                            {% endif %}

                    </td>

                    <td>{{row.10}}</td>

                    <td>{{row.11}}</td>

                    <td>
                        <!--edit-->
                        <a href="" class="btn btn-secondary btn-xs" data-toggle="modal" data-target="#modaledit{{row.0}}"><i class="fa fa-edit"></i></a

                        >

                      </td>

                        </tr>

  <!--end enable check-->

  <!--modal edit-->
                    <div

                      id="modaledit{{row.0}}"

                      class="modal fade"

                      role="dialog"

                    >

                      <div class="modal-dialog">

                        <div class="modal-content">

                          <div class="modal-header">

                            <h4 class="modal-title">อัพเดทข้อมูลของท่าน</h4>



                            <button

                              type="button"

                              class="close"

                              data-dismiss="modal"

                            >

                              &times;

                            </button>

                          </div>

                          <div class="modal-body">

                            <form action="/update" method="POST">

                              <div class="form-group">

                                <label>Status :   </label>

                                {% if row.11 == "Enable" %}

                                  <select name="status" id="status" class="form-control">
                                    <option value="Enable">Enable</option>
                                    <option value="Disable">Disable</option>
                                  </select>

                                {% else %}
                                  <select name="status" id="status" class="form-control">
                                    <option value="Disable">Disable</option>
                                    <option value="Enable">Enable</option>
                                  </select>
                                {% endif %}

                                <input

                                  type="hidden"

                                  name="pc"

                                  value="{{row.0}}"

                                />

                              </div>

                              <div class="form-group">

                                <label>Pattern Code:</label>

                                <label> {{row.0}} </label>

                                <input

                                  type="hidden"

                                  name="pc"

                                  value="{{row.0}}"

                                />

                              </div>

                              <div class="form-group">

                                <label>Pattern Name</label>

                                <input

                                  type="text"

                                  class="form-control"

                                  name="pn"

                                  value="{{row.1}}"

                                />

                              </div>

                              <div class="form-group">

                                <label>SQL</label>

                                <textarea class="form-control" name="sqlcode">{{row.2}}</textarea>

                              </div>

                              <div class="form-group">

                                <label>System</label>

                                <input

                                  type="text"

                                  class="form-control"

                                  name="system"

                                  value="{{row.3}}"

                                />

                              </div>

                              <div class="form-group">

                                <label>Confidential Score</label>

                                <input

                                  type="text"

                                  class="form-control"

                                  name="confident"

                                  value="{{row.4}}"

                                />

                              </div>

                              <div class="form-group">

                                <label>Relate</label>

                                <input

                                  type="text"

                                  class="form-control"

                                  name="relate"

                                  value="{{row.5}}"

                                />

                              </div>

                              <div class="form-group">

                                <label>sequence</label>

                                <input

                                  type="text"

                                  class="form-control"

                                  name="sequence"

                                  value="{{row.6}}"

                                />

                              </div>


                              <div class="form-group">

                                <label>Automate Link</label>

                                <input

                                  type="text"

                                  class="form-control"

                                  name="auto"

                                  value="{{row.8}}"

                                />

                              </div>


                              <div class="form-group">

                                <label>Manual Link</label>

                                <input

                                  type="text"

                                  class="form-control"

                                  name="manual"

                                  value="{{row.9}}"

                                />

                              </div>


                              <div class="form-group">

                                <label>Tag</label>

                                <input

                                  type="text"

                                  class="form-control"

                                  name="tag"

                                  value="{{row.10}}"

                                />

                              </div>

                              <div class="form-group">

                                <button class="btn btn-primary" type="submit">

                                  อัพเดท

                                </button>

                              </div>
                            </form>
                          </div>

                      </div>

                    </div>
  <!--end modal edit-->


                    {% endfor %}

                  </tbody>

                </table>
<!--end table-->
              </div>

            </div>


<!--tab2-->
            <div

              class="tab-pane fade"

              id="v-pills-profile"

              role="tabpanel"

              aria-labelledby="v-pills-profile-tab"

            >

              For 3rd party

            </div>
<!--tab3-->
            <div

              class="tab-pane fade"

              id="v-pills-messages"

              role="tabpanel"

              aria-labelledby="v-pills-messages-tab"

            >

              For SIT Support

            </div>
<!--tab4-->
            <div

              class="tab-pane fade"

              id="v-pills-settings"

              role="tabpanel"

              aria-labelledby="v-pills-settings-tab"

            >

              Document

            </div>

          </div>

        </div>

      </div>

    </div>



    <script

      src="https://code.jquery.com/jquery-3.4.1.slim.min.js"

      integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"

      crossorigin="anonymous"

    ></script>

    <script

      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"

      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"

      crossorigin="anonymous"

    ></script>

    <script

      src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"

      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"

      crossorigin="anonymous"

    ></script>

  </body>

  <script src="https://cdn.jsdelivr.net/npm/clipboard@2/dist/clipboard.min.js"></script>

  <script type='text/javascript'>new Clipboard('.btn');</script>

</html>


<style>

  body {

    background-color: rgba(255, 0, 0, 0.017);

  }

  a {

    color: #d11141;

  }

  #v-pills-tab a.active {

    border-bottom-color: transparent;

    background-color: #d11141;

  }

  .oneline {

    display: inline-block;

  }

  /* #temp {

    width:0;

    height:0;

    opacity:0;

  } */

</style>

<script>

  function myFunction() {

    // Declare variables

    var input, filter, table, tr, td, i, txtValue;

    input = document.getElementById("myInput");

    filter = input.value.toUpperCase();

    table = document.getElementById("myTable");

    tr = table.getElementsByTagName("tr");



    // Loop through all table rows, and hide those who don't match the search query

    for (i = 0; i < tr.length; i++) {

      td = tr[i].getElementsByTagName("td")[1];

      td1 = tr[i].getElementsByTagName("td")[2];

      if (td || td1) {

        txtValue = td.textContent || td.innerText;

        txtValue1 = td1.textContent || td1.innerText;

        if (

          txtValue.toUpperCase().indexOf(filter) > -1 ||

          txtValue1.toUpperCase().indexOf(filter) > -1

        ) {

          tr[i].style.display = "";

        } else {

          tr[i].style.display = "none";

        }

      }

    }

  }



/*  function copy(row) {

    alert("row: " + row);

    var tagText = document.getElementById("contentSQL");

    

    alert("sth: " + tagText.innerHTML);

    var tempHtml =

      "<textarea id='copy-text'>" + tagText.innerHTML + "</textarea>";

    document.getElementById("temp").innerHTML = tempHtml;

    var text = document.getElementById("copy-text");

    text.select();

    document.execCommand("copy");

    alert("Copied");

  }



  function copyCb() {

  var copyText = document.getElementById("myInput");

  alert(copyText.value);

  copyText.select();

  copyText.setSelectionRange(0, 99999)

  document.execCommand("copy");

  alert("Copied the text: " + copyText.value);

}*/

</script>
