<html>

<head>
    <title>Add/Remove Input Fields Dynamically with jQuery</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />

    <link href='//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' rel='stylesheet' />

    <script>
        (document).ready(function () {
            ('#myTable').DataTable({
                "scrollY": "200px",
                "scrollCollapse": true,
            });
            ('.dataTables_length').addClass('bs-select');
        });
    </script>

    <style>
        table.dataTable thead .sorting:after,
        table.dataTable thead .sorting:before,
        table.dataTable thead .sorting_asc:after,
        table.dataTable thead .sorting_asc:before,
        table.dataTable thead .sorting_asc_disabled:after,
        table.dataTable thead .sorting_asc_disabled:before,
        table.dataTable thead .sorting_desc:after,
        table.dataTable thead .sorting_desc:before,
        table.dataTable thead .sorting_desc_disabled:after,
        table.dataTable thead .sorting_desc_disabled:before {
            bottom: .5em;
        }
    </style>

</head>

<body>
    <!--table-->

    <table id="myTable" class="table table-hover table-bordered">
        <!--table head-->
        <thead style="background-color: #d11141; color:#FFFAFA;">

            <tr style="width: 100%;">

                <th scope="col">Pattern code</th>

                <th scope="col" style="width: 15%;">Pattern name</th>

                <th scope="col">Type</th>

                <th scope="col">SQL script</th>

                <th scope="col">System</th>

                <th scope="col">Confidential score</th>

                <th scope="col">Relate</th>

                <th scope="col">Sequence</th>

                <th scope="col" style="width: 8%;">Doc</th>

                <th scope="col">Tag</th>

                <th scope="col">Remark</th>

            </tr>

        </thead>
        <!--table body-->
        <tbody>

            {% for row in datas %}

            <tr>

                <td id='pcode'>{{row.0}}</td>

                <td>{{row.1}}</td>

                <td>{{row.2}}</td>

                <td>

                    <!--sql column-->

                    <button type="button" class="btn btn-outline-secondary btn-sm" data-toggle="modal"
                        data-target="#modalSQL{{row.0}}">

                        {{row.3[0:18]}} ...

                    </button>
                    <!--modal sql column-->
                    <div class="modal fade" id="modalSQL{{row.0}}" tabindex="-1" role="dialog"
                        aria-labelledby="exampleModalCenterTitle" aria-hidden="true">

                        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">

                            <div class="modal-content">

                                <div class="modal-header">

                                    <h5 class="modal-title" id="exampleModalLongTitle">

                                        SQL script for {{row.0}}

                                    </h5>

                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">

                                        <span aria-hidden="true">&times;</span>

                                    </button>

                                </div>

                                <div id='mydiv' class="modal-body" style="height:auto; word-wrap: break-word;">



                                    <p oncopy="setTimeout(function(){location.href='/count/{{row.0}}';} , 1500);">

                                        {{row.3}}

                                        <!-- <h6 style="float: right;">Usage frequency: {{row.8}}</h6> -->

                                    </p>

                                </div>

                            </div>

                        </div>

                    </div>

                </td>

                <td>{{row.4}}</td>

                <td>{{row.5}}</td>

                <td>{{row.6}}</td>

                <td>{{row.7}}</td>

                <td>

                    {%if row.9 != "" %}
                    <a href="{{row.9}}">Automate link</a><br />

                    {% endif %}
                    {%if row.10 != "" %}
                    <a href="{{row.10}}">Manual link</a>

                    {% endif %}

                </td>

                <td>{{row.11}}</td>

                <td>{{row.12}}</td>

            </tr>

            <!--end enable check-->

            {% endfor %}

        </tbody>
        <tfoot style="background-color: #d11141; color:#FFFAFA;">
            <tr style="width: 100%;">

                <th scope="col">Pattern code</th>

                <th scope="col" style="width: 15%;">Pattern name</th>

                <th scope="col">Type</th>

                <th scope="col">SQL script</th>

                <th scope="col">System</th>

                <th scope="col">Confidential score</th>

                <th scope="col">Relate</th>

                <th scope="col">Sequence</th>

                <th scope="col" style="width: 8%;">Doc</th>

                <th scope="col">Tag</th>

                <th scope="col">Remark</th>

            </tr>

        </tfoot>
    </table>
    <!--end table-->
</body>

</html>