<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>Insert data</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
</head>

<body>
  <div class="container" style="margin-bottom: 15px;">
    <h2>บันทึกข้อมูลสำหรับ Automate test data</h2>

    <!--modal import-->
    <button type="button" class="btn btn-outline-secondary" data-toggle="modal" data-target="#myModal"
      style="float: right;">
      <i class="fa fa-file fa-lg" aria-hidden="true"></i></button>
    <div id="myModal" class="modal fade" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Modal Header</h4>
          </div>
          <div class="modal-body">
            <form action="/uploadsAuto" method=post enctype=multipart/form-data>
              <input class="form-control" type=file name=file>
              <button class="btn btn-primary" type=submit value=Upload style="margin-top: 10px;">ยืนยัน</button>
            </form>
          </div>
        </div>

      </div>
    </div>
    <!--modal import-->

    <form action="{{ url_for('insertAuto') }}" method="post">
      <div class="form-group">
        <label for="thai">Thai ID</label>
        <input type="text" class="form-control" name="thai" />
      </div>
      <div class="form-group">
        <label for="ban">BAN</label>
        <input type="text" class="form-control" name="ban" />
      </div>
      <div class="form-group">
        <label for="product">Product ID</label>
        <input type="text" class="form-control" name="product" />
      </div>
      <div class="form-group">
        <label for="company">Company</label>
        <input type="text" class="form-control" name="company" />
      </div>
      <div class="form-group">
        <label for="env">Test Env.</label>
        <input type="text" class="form-control" name="env" />
      </div>
      <div class="form-group">
        <label for="owner">Owner</label>
        <input type="text" class="form-control" name="owner" />
      </div>
      <div class="form-group">
        <label for="remark">Remark</label>
        <input type="text" class="form-control" name="remark" />
      </div>
      <a class="btn btn-" href="/profile">กลับหน้าแรก</a>
      <button type="submit" class="pull-right btn btn-success">บันทึก</button>
    </form>
  </div>
</body>

</html>