<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="container">
        <h2>บันทึกข้อมูล</h2>
        <form action="{{ url_for('insert') }}" method="post">
            <div class="form-group">
                <label for="pc">Pattern Code :  {{ patternid }} </label>
            </div>
            <div class="form-group">
                <label for="pn">Pattern Name</label>
                <input type="text" class="form-control" name="pn">
            </div>
            <div class="form-group">
                <label for="sqlcode">SQL</label>
                <input type="text" class="form-control" name="sqlcode">
            </div>
            <div class="form-group">
                <label for="fnamsystem">System</label>
                <input type="text" class="form-control" name="system">
            </div>
            <div class="form-group">
                <label for="confident">Confidential Score</label>
                <input type="text" class="form-control" name="confident">
            </div>
            <div class="form-group">
                <label for="relate">Relate</label>
                <input type="text" class="form-control" name="relate">
            </div>
            <div class="form-group">
                <label for="sequence">Sequence</label>
                <input type="text" class="form-control" name="sequence">
            </div>
            <div class="form-group">
                <label for="frequency">Frequency</label>
                <input type="text" class="form-control" name="frequency">
            </div>
            <div class="form-group">
                <label for="auto">Automate Path</label>
                <input type="text" class="form-control" name="auto">
            </div>
            <div class="form-group">
                <label for="manaul">Manaul Path</label>
                <input type="text" class="form-control" name="manual">
            </div>
            <div class="form-group">
                <label for="tag">Tag</label>
                <input type="text" class="form-control" name="tag">
            </div>
            <a class="btn btn-success" href="/">กลับหน้าแรก</a>
            <button type="submit" class="pull-right btn btn-primary">บันทึก</button>
        </form>
    </div>
</body>

</html>